@model dynamic

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="containerForm">
    <h1>Name: </h1>@Model.Name
    <h1>Dojo Location: </h1>
    @Model.Location
    <h1>Favorite Language</h1>
    @Model.Favorite
    <h1>Comment</h1>
    @Model.Comment

    <div class="containerButton"><button class="button">Go Back</button></div>
        </div>
    </div>
    
</body>
</html>